<h3 class=entry-form-heading>Login</h3>

<div class=entry-form>
  <form action='/sessions' method='POST'>
    <label></label>
    <input type='text' name='email'>
    <input type='password' name='password'>
    <input class=submit-button type='submit' value='Login'>
  </form>
</div>
