<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src="/js/playground.js"></script>

  <title>For All</title>
</head>
<body>
  <nav>
    <div id='left-nav'>
    </div>
    <div id='right-nav'>
    <ul>
    <% if logged_in? %>
      <li><a href='/'>Home</a></li>
      <li><a href='/users/<%=@current_user.id%>/profile'>Profile</a></li>
      <li>
        <form action='/sessions/<%= current_user.id %>' method='POST'>
          <input type='hidden' name='_method' value="delete">
          <input id='logout_link' type='submit' value="Logout">
        </form>
      </li>
    <% else %>
      <li><a href='/'>Home</a></li>
      <li><a href='/sessions/new'>Login</a></li>
      <li><a href='/users/new'>Register</a></li>
    <% end %>
    </ul>
    </div>
  </nav>
  <div id=window_nav>
    <ul>
    <% if logged_in? %>
      <li><a id='left-tab' href='/representatives'>Representatives</a></li>
      <li><a id='middle-tab' href='/races'>2016 Races</a></li>
      <li><a id ='right-tab' href='/initiatives'>2016 Initiatives</a></li>
    <% end %>
    </ul>
  </div>
  <div id=body-content>
    <%= yield %>
  </div>
</body>
</html>
